<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.ex.MessageMapper">
	<resultMap id="messageResultMap" type="MessageDto">
	    <result property="roomId" column="room_id"/>
	    <result property="isRead" column="is_read"/>
	    <result property="messageId" column="message_id"/>
	</resultMap>

	<select id="findRoomId" parameterType="java.util.HashMap" resultType="String">
		SELECT DISTINCT room_Id
		  FROM mvc_chat6
		 WHERE (sender = #{sender} AND receiver = #{receiver})
		    OR (sender = #{receiver} AND receiver = #{sender})
	</select>
	
	<select id="getRoomId" resultType="String">
		SELECT DISTINCT room_id
		  FROM mvc_chat6
		 WHERE sender = #{userId}
		    OR receiver = #{userId}
	</select>
	
	<!-- 채팅방 목록에 표시할 마지막 메시지(요약용)를 각 채팅방별로 가져옴 -->
	<select id="getLastMessagesByUserId" parameterType="java.util.HashMap" resultMap="messageResultMap">
		SELECT *
		  FROM (
		     SELECT 
		     	m.*,
		        ROW_NUMBER() OVER (PARTITION BY room_id ORDER BY regdate DESC, regtime DESC) AS rn
		       FROM mvc_chat6 m
		      WHERE m.room_id IN (
		      	  SELECT room_id
		      		FROM mvc_chat6
		      	   WHERE sender = #{userId} OR receiver = #{userId}
		      )
		      <if test="searchText != null and searchText != ''">
		          AND (
			  		  content LIKE '%' || #{searchText} || '%'
					  OR receiver LIKE '%' || #{searchText} || '%'
					  OR sender LIKE '%' || #{searchText} || '%'		        	
		          )
	          </if>
		   )
		 WHERE rn = 1
		 ORDER BY regdate DESC, regtime DESC
	</select>
	
	<!-- 대화 상대방이 누군지 조회 -->
	<select id="getReceiver" parameterType="java.util.HashMap" resultType="String">
		<choose>
			<when test="userId == sender">
				SELECT DISTINCT receiver
		  		  FROM mvc_chat6
		 		 WHERE room_id = #{roomId}
		 		 AND receiver != #{userId}
			</when>
			<otherwise>
				SELECT DISTINCT sender
		  		  FROM mvc_chat6
		 		 WHERE room_id = #{roomId}
		 		   AND sender != #{userId}
			</otherwise>
		</choose>
	</select>
	
	<!-- 안읽은 메시지 총 개수 -->
	<select id="getUnreadMessageTotalCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT COUNT(*)
		  FROM mvc_chat6
		 WHERE receiver = #{userId}
		   AND is_read = 'N'
	</select>
	
	<!-- 각 채팅방별 안읽은 메시지 개수 -->
	<select id="getUnreadMessageCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT COUNT(*)
		  FROM mvc_chat6
		 WHERE room_Id = #{roomId}
		   AND receiver = #{userId}
		   AND is_read = 'N'
	</select>
	
	<!-- 안읽음 표시 없애기 -->
	<update id="setIsRead" parameterType="java.util.HashMap">
		UPDATE mvc_chat6
		   SET is_read = 'Y'
		 WHERE room_id = #{roomId}
		   AND receiver = #{receiver}
	</update>	
	
	<!-- 아직 안읽은 메시지의 sender 아이디 얻기 -->
	<select id="getUniqueSenderIdsOfUnreadMessages" parameterType="java.util.HashMap" resultType="String">
		SELECT DISTINCT sender
		  FROM mvc_chat6
		 WHERE room_id = #{roomId}
		   AND receiver = #{receiver}
		   AND is_read = 'N'
	</select>
	
	<!-- 메시지 전송한 경우 -->
	<insert id="saveMessage" parameterType="MessageDto">
		<selectKey keyProperty="messageId,isRead" resultType="MessageDto" order="AFTER">
	        SELECT seq_mvc_chat6.CURRVAL AS message_id, 'N' AS is_read
	        FROM DUAL
	    </selectKey>
		INSERT INTO mvc_chat6
			(
			message_id,
			room_id,
			sender,
			receiver,
			content,
			regdate,
			regTime
			)
		VALUES
			(
			seq_mvc_chat6.nextval,
			#{roomId},
			#{sender},
			#{receiver},
			#{content},
			#{regdate},
			#{regTime}
			)
	</insert>
	
	<!-- 특정 채팅방의 이전 채팅 내역(스크롤로 불러오기 등)을 가져오기 -->
	<select id="getPastMessages" resultMap="messageResultMap">
		SELECT 
			c.*,
			sender_user.unickname AS senderUnickname,
			receiver_user.unickname AS receiverUnickname
		  FROM mvc_chat6 c
		  JOIN mvc_login6 sender_user ON c.sender = sender_user.userId
		  JOIN mvc_login6 receiver_user ON c.receiver = receiver_user.userId		  
		 WHERE room_id = #{roomId}
	  ORDER BY message_id  
	</select>
	
	<!-- userId로 닉네임 조회 -->
	<select id="getNicknameByUserId" resultType="String">
		SELECT unickname
		  FROM MVC_LOGIN6
		 WHERE userId = #{userId}
	</select>
	
</mapper>